.Menu {
    width: 590px;
    height: 75px;
    background-color: rgb(166,41,42);
    color: rgb(254, 14, 19);
    text-align: center;
    margin-bottom: 10px;
}

.Corps {
    background-color: rgb(100, 149, 237);
    width: 590px;
    height: 350px;
    margin-bottom: 0px;
}


.conteneur {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
}
.divblue {
    width: 296px;
    height: 156px;
    background-color: rgb(red, green, blue);
}

.divgreen {
    width: 296px;
    height: 130px;
    background-color: rgb(71, 225, 135);
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}