.Menu {
    width: 590px;
    height: 75px;
    background-color: rgb(166,41,42);
    color: rgb(254, 14, 19);
    text-align: center;
    margin-bottom: 10px;
}

.Corps {
    background-color: rgb(100, 149, 237);
    width: 590px;
    height: 350px;
    margin-bottom: 0px;
}

footer {
    height: 100px;
    width: 590px;
    text-align: center;
    font-size: small;
    background-color: rgb(189, 183, 107);
}

.conteneur {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
}
.divblue {
    width: 296px;
    height: 156px;
    background-color: rgb(38, 119, 165);
    text-align: center;
    font-size: 14.1px;
    font-weight: 500;
}

.divgreen {
    width: 296px;
    height: 133px;
    background-color: rgb(71, 225, 135);
    text-align: center;
    font-size: 14.1px;
    font-weight: 500;
}

.image_1 {
    height: 136px;
    width: 136px;
}

.paragraphe {
    padding-right: 15px;
    font-size: 14.1px;
    font-weight: 540;
    font-family:'Times New Roman', Times, serif
}

.tableau {
    border-width: 1px;
    border-style:solid;
    border-color: rgba(151, 218, 179, 1);
}

.parag_vert {
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.cell {
    font-size: 14.5px;
    padding: 10px;
    font-weight: 500;
    font-style:normal;
    font-family: 'Times New Roman';
}